:root {
    --header-background: rgb(137, 137, 227);
    --footer-background: rgb(236, 154, 154);
    --container-background: rgb(116, 219, 198);
    --text-color: rgb(36, 25, 25);

    --DARK-BLUE-COLOR: rgb(13, 13, 204);
    --WHITE-COLOR: white;

    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
   
}

* {
    box-sizing: border-box;
    text-align: center;
}

body {
  margin: 0;
}

.container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-color: var(--container-background);
    height: 100vh;

    .footer, .header {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem
    }

    .footer {
        background-color: var(--footer-background, red);
    }
    
    .header {
        background-color: var(--header-background, blue);
    }
    
    .content {
        display: flex;
        align-items: center;
        flex-flow: column;
    }
}

dialog::backdrop {
  background-color: hsla(34, 3%, 41%, 0.5);
}

/* Button Styles */

button {
  padding: 8px 14px;
  font-size: clamp(1rem, 1.75vw, 1.45rem);
  background-color: var(--DARK-BLUE-COLOR, rgb(3, 3, 62));
  color: var(--WHITE-COLOR, white);
  font-weight: bold;
  border-radius: 7.2px;
  border: var(--DARK-BLUE-COLOR, rgb(3, 3, 62));
}

button[data-open-modal] {
  margin-top: 16px;
}
/* Button Styles */


/* Table styles */
table {
    border-collapse: collapse;
    border: 1.25px solid rgb(9, 9, 9);
    letter-spacing: 1px;
    font-size: 0.9rem;
  }
  
  td, th {
    border: 0.75px solid rgb(13, 13, 13);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(226, 241, 177);
    font-size: 1.1rem;
    
  }
  
  td {
    text-align: center;
    font-weight: 0;
  }
  
  tr:nth-child(even) td {
    background-color: rgb(204, 218, 211);
  }
  
  tr:nth-child(odd) td {
    background-color: rgb(182, 187, 181);
  }
  
  caption {
    padding: 10px;
  }
  
/* Table styles */
